<%= form_with model: [@test, @question], local: true do |form| %>
  <% if question.errors.any? %>
    <%= render '/shared/errors', resource: @question %>
  <% end %>

  <p>
    <h1><%= question_header(@question) %></h1>
  </p>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div class="field">
    <%= form.label :test_id %>
    <%= form.number_field :test_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
