<h1>Create New Question for test <%= @test.title %> </h1>

<%= render '/shared/errors'

<%= form_with model:[ @test, @question ] do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= f.submit "Create" %>
<% end %>

<%= render '/shared/footer' %>
