<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<p>
  <strong>Test:</strong>
  <%= @question.test.title %>
</p>

<%= link_to 'Back', admin_test_path(@question.test) %>

<p>
  <h4>Answers:</h4>
  <ol>
    <%= render @question.answers %>
  </ol>
</p>
