<h1><%= t('.complited') %></h1>
<h4><%= %><%=t('.overall_questions', number: @test_passage.test.questions.count) %></h4>
<strong class="<%= detect_class_for_color(@test_passage) %>">
  <%= t('.progress', number: @test_passage.progress ) %> %
</strong><br>

<%= link_to "Show Your Badges", user_badges_path(@test_passage.user) %>
<%= link_to t('.back'), tests_path %>
