<nav>
  <div class="nav_title">
    <%= link_to 'Test Guru', tests_path %>
  </div>

  <div class="nav_list">
    <ul>
      <li><%= link_to 'Signup', signup_path %></li>
      <li><%= link_to 'Login', login_path %></li>
      <li><%= link_to 'Exit', logout_path, method: :delete %></li>
    </ul>
  </div>
</nav>

<div class="welcome">
  <%= "Welcome #{current_user.name} Guru" if current_user.present? %>
</div>
