<p>
  <strong><%= t('.body')%></strong>
  <%= @question.body %>
</p>

<p>
  <strong><%= t('.test')%></strong>
  <%= @question.test.title %>
</p>
<%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %>
<%= link_to t('.edit'), edit_admin_question_path(@question) %> |
<%= link_to t('.back'), admin_test_path(@question.test) %>

<p>
  <strong><%= t('.answers')%></strong>
  <ol>
    <%= render @question.answers %>
  </ol><br>
</p>
