<%= form_with(model: [:admin, @test], local: true) do |form| %>
  <% if test.errors.any? %>
    <%= render '/shared/errors', resource: @test %>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </div>

  <div class="field">
    <%= form.label :limit_time %>
    <%= form.number_field :limit_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
