<div class="row justify-content-center mt-3">
  <div class="col col-md-6">
    <h1 class="row justify-content-center"><%= t('.header')%></h1>
      <%= link_to t('.new_test'), new_admin_test_path %>
    <div class="card border-primary mt-3">
      <table class="table table-striped">
        <head>
          <tr class= "container text-center">
            <th scope="col"><%= t('.title')%></th>
            <th scope="col"><%= t('.level')%></th>
            <th scope="col"><%= t('.questions')%></th>
            <th scope="col" colspan="3"><%= t('.actions')%></th>
          </tr>
        </head>

        <body>
          <%= render @tests %>
        </body>
      </table>
    </div>
  </div>
</div>
