<p>
  <strong><%= t('.header-title', test_title: @test.title) %></strong>

</p>

<p>
  <strong><%= t('.header-level', test_level: @test.level) %></strong>

</p>


<%= link_to t('.edit'), edit_admin_test_path(@test) %> |
<%= link_to t('.back'), admin_tests_path %>

<p>
  <b> <%= t('.questions') %></b>
  <table>
    <th><%= t('.body') %></th>
    <th><%= t('.id') %></th>
    <th colspan=3 ><%= t('.actions') %></th>

    <%= render @test.questions %>

  </table>
</p>

<%= link_to t('.new_question'), new_admin_test_question_path(@test) %>
