<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class='navigation'>
    <%= render '/shared/navigation' %>
  </div>

  <body>
    <% if user_signed_in? %>
      <div class="welcome">
        <%= t('.welcome', email: current_user.email) if current_user.present? %>
        <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
      </div>
    <% end %>

    <%= render 'shared/flash' %>

    <%= yield %>
  </body>

  <footer>
    <%= render '/shared/footer' %>
  </footer>
</html>
